@model EmployeeDirectory.Data.Entities.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Office.OfficeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Office.OfficeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        @foreach (var info in Model.ExtraInfo)
        {
            <dt>
                @Html.DisplayFor(model => info.ExtraDetailType)
            </dt>

            <dd>
                @Html.DisplayFor(model => info.ExtraDetailInfo)
            </dd>
        }
    </dl>
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
