@using PagedList.Mvc;
@model IEnumerable<EmployeeDirectory.Data.Entities.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{ 
<p>Search: @Html.TextBox("EmployeeSearch")     
@Html.Hidden("EmployeeNo")
<input type="submit" value="Search" /></p>
}

@section scripts {
<script type="text/javascript">
    $(function () {
        $("#EmployeeSearch2").autocomplete({
            source: "/Employees/AutocompleteSearch",
            minLength: 1,
            select: function (event, ui) {
                if (ui.item) {
                    $("#EmployeeSearch2").val(ui.item.value);
                    $("form").submit();
                }
            }
        });
    });
</script>
<script type="text/javascript">
var url = '@Url.Action("AutocompleteSearch", "Employees")';
$('#EmployeeSearch').autocomplete({
    source: function (request, response) {
        $.ajax({
            url: url,
            data: { term: request.term },
            dataType: 'json',
            type: 'GET',
        success: function (data) {
            response($.map(data, 
        function (item) {
            return {
                label: item.Name,
                value1: item.EmployeeNo
            }
        }));
        }
    })
},
    select: 
function (event, ui) {
    $('#EmployeeSearch').val(ui.item.label);
    $('#EmployeeNo').val(ui.item.value1);
    return false;
},
    minLength: 1
});
</script>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Office.OfficeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Office.OfficeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmployeeNo })
        </td>
    </tr>
}

</table>

@Html.PagedListPager((Model as PagedList.IPagedList), page => Url.Action("Index", new { page }))


